@inherits LayoutComponentBase

<MatThemeProvider Theme="@theme1">
		<div class="page">
			<div class="background">
			</div>
			<div class="container">
				
			<Router AppAssembly="@typeof(App).Assembly">
				<Found Context="routeData">
					<RouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)" />
					<FocusOnNavigate RouteData="@routeData" Selector="h1" />
				</Found>
				<NotFound>
					<PageTitle>Not found</PageTitle>
					<LayoutView Layout="@typeof(AuthLayout)">
						<p role="alert">Sorry, there's nothing at this address.</p>
					</LayoutView>
				</NotFound>
			</Router>
			</div>

		</div>
</MatThemeProvider>

@code{
	MatTheme theme1 = new MatTheme()
		{
			Primary = MatThemeColors.Blue._500.Value,
			Secondary = MatThemeColors.Blue._400.Value
		};
}
