@inherits LayoutComponentBase

<MatThemeProvider Theme="@Theme">
		<div class="page">
			<div class="background">
			</div>
			<div class="container">
				
			<Router AppAssembly="@typeof(App).Assembly">
				<Found Context="routeData">
					<RouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)" />
					<FocusOnNavigate RouteData="@routeData" Selector="h1" />
				</Found>
				<NotFound>
					<PageTitle>Not found</PageTitle>
					<LayoutView Layout="@typeof(AuthLayout)">
						<p role="alert">Sorry, there's nothing at this address.</p>
					</LayoutView>
				</NotFound>
			</Router>
			</div>
		</div>
</MatThemeProvider>

@code{
	public MatTheme Theme = new MatTheme()
	{
		Primary = "var(--primary-color)",
		Secondary = "var(--primary-color)",
		Background = "var(--panel-background-color)",
		Surface = "transparent"
	};
}
