<div class="file-list">
    @foreach (var file in ExistingFiles)
    {
        <FileComponent FileName="@file.OriginalFileName" ContentType="@file.ContentType" IsNewFile="@false" ActionEmitter="() => InvokeDownloadFile(file)"/>
    }
    @foreach (var file in FilesToSend)
    {
        <FileComponent FileName="@file.Name" ContentType="@file.ContentType" IsNewFile="@true" ActionEmitter="() => InvokeRemoveFile(file)"/>
    }
</div>

@code {

    [Parameter]
    public List<IBrowserFile> FilesToSend { get; set; } = new();

    [Parameter]
    public List<StudentReportFileGetDto> ExistingFiles { get; set; } = new();

    [Parameter]
    public EventCallback<IBrowserFile> OnRemoveFile { get; set; }

    [Parameter]
    public EventCallback<StudentReportFileGetDto> OnDownloadFile { get; set; }

    private void InvokeDownloadFile(StudentReportFileGetDto file)
    {
        OnDownloadFile.InvokeAsync(file);
    }

    private void InvokeRemoveFile(IBrowserFile file)
    {
        OnRemoveFile.InvokeAsync(file);
    }
}