@page "/teacher/subjects/{SubjectId:int}"

@inject IAppHttpClient AppHttpClient
@inject NavigationManager NavigationManager
@inject IMatToaster MatToaster

<PageTitle>Grupy</PageTitle>
@if (SubjectGroupGetDtos is null)
{
    <LoadingBar IsLoading="true" />
}
else if (SubjectGroupGetDtos.Count == 0)
{
    <div class="table__no-data"><h3>Brak grup do wyświetlenia</h3></div>
}
else if (SubjectGroupGetDtos.Count != 0)
{
    <MatTable Items="SubjectGroupGetDtos" ShowPaging="false">
        <MatTableHeader>
            <th class="table__header-cell--small">Grupy </th>
            <th class="table__header-cell--normal"> </th>
            <th class="table__header-cell--small"><MatButton Raised="true">Dodaj grupę</MatButton> </th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Name</td>
            <td>@context.GroupType</td>
            <td align="right">
                <div class="arrow-button"> <MatIcon Icon="@MatIconNames.Arrow_forward"  @onclick="() => GoToStudents(context.Id)"></MatIcon></div>
            </td>
        </MatTableRow>
    </MatTable>
    <!--
    <MatDialog @bind-IsOpen="_dialogIsOpen" SurfaceStyle="background-color: white">
        <MatDialogTitle>Uzupełnij dane</MatDialogTitle>
        <MatDialogContent style="display: flex; flex-direction: column; justify-content: space-evenly; height: 50vh;">
            <MatTextField Label="Nazwa" Required="true" TValue="string" @bind-Value="@GroupToSendDto.Name"></MatTextField>

            <MatSelectItem ValidationDisabled="false" Label="Semestr" Items="Types" @bind-Value="GroupToSendDto.GroupType"></MatSelectItem>

            <div class="dialog-buttons">
                <MatButton OnClick="@(e => { _dialogIsOpen = false; })">Anuluj</MatButton>
                <MatButton OnClick="AddNewGroup">Ok</MatButton>
            </div>

        </MatDialogContent>
    </MatDialog>
    -->
}



@code {
    public List<SubjectGroupGetDto> SubjectGroupGetDtos;

    public GroupPostDto GroupToSendDto = new();
    public string[] Types = { "Laboratoria", "Ćwiczenia", "Projekt" };
    private bool _dialogIsOpen = false;
    [Parameter]
    public int SubjectId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SubjectGroupGetDtos = null;
        SubjectGroupGetDtos = await AppHttpClient.Get<List<SubjectGroupGetDto>>($"SubjectGroup/{SubjectId}/Teacher");
    }
    /*
    public async Task OpenAddGroupDialog()
    {
        _dialogIsOpen = true;
    }

    public async Task AddNewGroup()
    {
        if (GroupToSendDto.Name == null || GroupToSendDto.GroupType == null)
        {
            MatToaster.Add("Nie udało się dodać grupy!", MatToastType.Danger, "Błąd!");
            MatToaster.Add("Nie wypełniono wymaganych pól!", MatToastType.Danger, "Błąd!");
        }
        else
        {
            _dialogIsOpen = false;    
            MatToaster.Add("Dodano nowyą grupę!", MatToastType.Success, "Sukces!");
        }
    }
    */
    public void GoToStudents(int groupId)
    {
        NavigationManager.NavigateTo($"teacher/view-students/" + groupId);
    }    
}