@page "/send/{ReportTopicId}"
@using System.Net.Http.Headers;
@using System.Net
@using Newtonsoft.Json
@inject HttpClient Http
@inject IAppHttpClient AppHttpClient
@inject IAuthService AuthService

<PageTitle>Wyślij sprawozdanie</PageTitle>

<p style="display: flex; justify-content: center; padding-bottom: 24px; margin-top: -38px; font-size: 26px;">@TopicName</p>
<div class="main-container">
    <div class="left-column">
        <InputFile OnChange="OnInputFileChange" multiple id="input-files-label" style="display: none"/>
        <label for="input-files-label">
            Przekaż pliki
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
              
            </svg>
        </label>
        
            @if (fileNames.Count > 0)
            {
                <ul class="files-list">
                    @foreach (var fileName in fileNames)
                    {
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                              <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                            </svg> @fileName
                        </li>
                    }
                </ul>
            }

    </div>
    <div class="right-column">
        <p style="font-size: 20px">Termin oddania: @Deadline</p>
        <MatTextField TValue="string" @bind-Value="Note" Label="Komentarz dla prowadzącego:" Outlined="true" TextArea="true" Style="height: 50%; margin-bottom: 20px;"/>
        <div class="radio-buttons__and-description">
            <p class="radio-button-description">Sposób oddania:</p>
                    <div class="radio-buttons" style="margin-bottom: 20px">
                        <MatRadioGroup @bind-Value="@IsIndividual" TValue="string" Style="display: flex">
                            <MatRadioButton Value="@("true")" TValue="string">Indywidualnie</MatRadioButton>
                            <MatRadioButton Value="@("false")" TValue="string">Grupowo</MatRadioButton>
                        </MatRadioGroup>
                    </div>
        </div>
        
            
            <MatButton OnClick="@(() => sendReport())" Label="Prześlij" Unelevated="true" Class="send-button" Style="height: 12%"></MatButton>
    </div>

</div>
    





@code {

    [Parameter]
    public string ReportTopicId { get; set; }
    public string IsIndividual { get; set; } = "true";
    public string Note { get; set; } = string.Empty;
    public string Token { get; set; }
    public Uri endpointUri { get; set; }
    public string Deadline { get; set; }
    public string TopicName { get; set; }
    
    private int maxAllowedFiles = 100;
    private long maxFileSize = 5368709120; // 5 Gigabytes
    private List<string> fileNames = new();
    MultipartFormDataContent multipartFormContent = new MultipartFormDataContent();

    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            var fileContent = new StreamContent(file.OpenReadStream(maxFileSize));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);

            fileNames.Add(file.Name);
            multipartFormContent.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: file.Name);
        }
    }

    public async void sendReport()
    {
        multipartFormContent.Add(new StringContent(ReportTopicId.ToString()), name: "ReportTopicId");
        multipartFormContent.Add(new StringContent(Note), name: "Note");
        multipartFormContent.Add(new StringContent(IsIndividual), name: "IsIndividual");
        var url = "https://localhost:7184/api/StudentReport";
        
        using var client = new HttpClient();
        client.DefaultRequestHeaders.Add("Authorization", "Bearer " + Token);
        var response = await client.PostAsync(url, multipartFormContent);
        response.EnsureSuccessStatusCode();
        var result = await response.Content.ReadAsStringAsync();
    }
    

    protected override async Task OnInitializedAsync()
    {
        var loginData = new LoginUserDto()
        {
            Login = "169571",
            Password = "Hasło123"
        };

        Token = await AppHttpClient.Post("Account/login", loginData);
        endpointUri =  new Uri($"https://localhost:7184/api/ReportTopic/{ReportTopicId}");
        using (var client = new HttpClient())
        {
            HttpResponseMessage response = await client.GetAsync(endpointUri);
            string responseBody = await response.Content.ReadAsStringAsync();
            ReportTopicGetDto deserializedReportTopicDto = JsonConvert.DeserializeObject<ReportTopicGetDto>(responseBody);
            var dateTime = deserializedReportTopicDto.Deadline;
            Deadline = dateTime.ToString("g");
            TopicName = deserializedReportTopicDto.Name;
        }
        
    }
        
}