@inject ITReportHttpService ITReportHttpService

<HeaderReportTopicDetails ReportTopic="@ReportTopic"/>

<TabBar Data="@TabBarData" @bind-Value="@ToCheck"/>

<div class="reports">
    <StudentReportsTable StudentReports="@IndividualReports" SelectedStudentReportId="SelectedStudentReportId"/>
    <StudentReportsTable StudentReports="@GroupReports" IsIndividualReports="false" SelectedStudentReportId="SelectedStudentReportId"/>
    <StudentTable Students="@StudentsWithoutReport"/>
</div>

@code {
    [Parameter]
    public int? ReportTopicId {
        set
        {
            GetReportTopicData(value??0);
        } 
    }

    [Parameter]
    public EventCallback<int> SelectedStudentReportId { get; set; }

    public bool? ToCheck
    {
        get => _toCheck;
        set
        {
            _toCheck = value;
            GetStudentReportsData(ReportTopic.Id);
        }
    }
    private bool? _toCheck = null;

    public ReportTopicGetDto? ReportTopic { get; set; } = new ReportTopicGetDto();
    public List<StudentReportGetDto>? IndividualReports { get; set; }
    public List<StudentReportGetDto>? GroupReports { get; set; }
    public List<StudentBasicGetDto>? StudentsWithoutReport { get; set; }

    public async Task GetReportTopicData(int reportTopicId)
    {
        ReportTopic = await ITReportHttpService.GetReportTopicById(reportTopicId);
        await GetStudentReportsData(ReportTopic.Id);
    }

    public async Task GetStudentReportsData(int reportTopicId)
    {
        IndividualReports = null;
        GroupReports = null;
        StudentsWithoutReport = null;
        IndividualReports = await ITReportHttpService.GetStudentReportsByReportTopicId(reportTopicId, true, ToCheck);
        GroupReports = await ITReportHttpService.GetStudentReportsByReportTopicId(reportTopicId, false, ToCheck);
        StudentsWithoutReport = await ITReportHttpService.GetStudentWithoutReportByReportTopicId(reportTopicId);
        StateHasChanged();
    }

    public readonly List<TabBarData<bool?>> TabBarData = new()
    {
        new()
        {
            Text = "Wszystkie",
            Value = null
        },
        new()
        {
            Text = "Do sprawdzenia / Nieocenione",
            Value = true
        },
        new()
        {
            Text = "Ocenione",
            Value = false
        },
    };

}