@inherits LayoutComponentBase

<MatThemeProvider Theme="@Theme">
	<div class="page">
		<div class="background"></div>
		<div class="container">
			<CascadingAuthenticationState>
				<Router AppAssembly="@typeof(App).Assembly">
					<Found Context="routeData">
						<AuthorizeView>
							<Authorized>
								<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(UserLayout)"/>
							</Authorized>
							<NotAuthorized>
								<RouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)"/>
								<RedirectToLogin/>
							</NotAuthorized>
						</AuthorizeView>
					</Found>
					<NotFound>
						<AuthorizeView>
							<Authorized>
								<LayoutView Layout="@typeof(UserLayout)">
									<PageNotFound/>
								</LayoutView>
							</Authorized>
							<NotAuthorized>
								<LayoutView Layout="@typeof(AuthLayout)">
									<PageNotFound/>
								</LayoutView>
							</NotAuthorized>
						</AuthorizeView>
					</NotFound>
				</Router>
			</CascadingAuthenticationState>
		</div>
	</div>
</MatThemeProvider>

@code{

	public readonly MatTheme Theme = new MatTheme()
	{
		Primary = "var(--primary-color)",
		Secondary = "var(--primary-color)",
		Background = "var(--panel-background-color)",
		Surface = "var(--panel-background-color)"
	};
}

